.container {
    max-width: 1440px;
    margin: 0 auto;
    background: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    border-bottom: #101010 solid 1px;
}

.icon {
    width: 30px;
    height: 30px;
}

.nav {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 40px;
}

.form_input {
    height: 30px;
    width: 300px;
    font-size: 18px;
    padding: 0  5px;
}

.navbar {
    color : #101010;
    font-size: 18px;
}

.button_new_recipe {
    padding: 10px 20px;
    background-color: #089e1e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
