$black: #101010;
$gray-dark: #353535;
$grey-light: #5c5c5c;
$grey-medium: #8a8a8a;
$grey: #c3c3c3;
$grey-medium-light: #aeaeae;
$pink: #ff43c5;
$pink-dark: #d4219d;
$pink-light: #ffc3ed;
$yellow-dark: #eebc0b;
$yellow: #ffda00;
$yellow-light: #fff19e;
$green: #00cb62;
$green-light: #a9efb5;
$error: #b71c1c;
$white: #ffffff;
$white-medium-light: #eeeeee;
$white-medium: #dedede;
$white-medium: #d1d1d1;
$grey-icon: #a0a0a0;
$grey-element: #959595;
$grey-muted: #ececec;
$grey-stroke-medium: #bdbdbd;
$grey-stroke-light: #e0e0e0;
$stroke-accent_green_hover: #189755;
$effects-black: rgba(16, 16, 16, 0.08);
$effects-black-medium: rgba(16, 16, 16, 0.16);
$effects-pink: rgba(255, 67, 197, 0.4);
$effects-accent-pink: rgba(255, 67, 197, 0.2);
$effects-yellow: rgba(255, 218, 0, 0.4);
$effects-green: rgba(0, 203, 98, 0.4);
$effects-green-medium: rgba(0, 203, 98, 0.4);
