$promo-700-100-RFDewi:
        700 106px RFDewi-Black,
        sans-serif;
$h1-700-72-RFDewi:
        700 72px RFDewi-Black,
        sans-serif;
$h2-700-56-RFDewi:
        700 56px RFDewi-Black,
        sans-serif;
$h3-700-42-RFDewi:
        700 42px RFDewi-Black,
        sans-serif;
$h4-700-32-RFDewi:
        700 32px RFDewi-Black,
        sans-serif;
$h5-700-24-RFDewi:
        700 24px RFDewi-Black,
        sans-serif;

$large-700-32-Inter-Regular:
        400 32px Inter-Regular,
        sans-serif;
$normal-700-20-Inter-Regular:
        400 20px Inter-Regular,
        sans-serif;
$medium-700-16-Inter-Regular:
        400 16px Inter-Regular,
        sans-serif;
$small-700-12-Inter-Regular:
        400 12px Inter-Regular,
        sans-serif;

$mobile-promo-700-48-RFDewi: 700 48px RFDewi-Black, sans-serif;
$mobile-h1-700-48-RFDewi: 700 38px RFDewi-Black, sans-serif;
$mobile-h2-700-48-RFDewi: 700 32px RFDewi-Black, sans-serif;
$mobile-h3-700-48-RFDewi: 700 28px RFDewi-Black, sans-serif;
$mobile-h4-700-48-RFDewi: 700 24px RFDewi-Black, sans-serif;
$mobile-h5-700-48-RFDewi: 700 20px RFDewi-Black, sans-serif;

$mobile-large-700-32-Inter-Regular:
        400 18px Inter-Regular,
        sans-serif;
$mobile-normal-700-20-Inter-Regular:
        400 20px Inter-Regular,
        sans-serif;
$mobile-medium-400-16-Inter-Regular:
        400 16px Inter-Regular,
        sans-serif;
$mobile-small-700-12-Inter-Regular:
        400 12px Inter-Regular,
        sans-serif;